body {
    background-color: #051a27;
}

.pynk-nav {
    background-color: #b8aa28;
    height: 50px;
    padding: 10px;

}

.dirty-computer-viewer {
    padding: 100px;
}

.data-narrative-viewer {
    padding: 100px;
}