body {
    background-color: #212c61;
}

.pynk-nav {
    background-color: #efcc43;
    height: 25px;
    padding: 10px;

}

.dirty-computer-viewer {
    padding: 100px;
}

.data-narrative-viewer {
    padding: 100px;
}

#btn-dirty {
    background-color:  #b8aa28;
}

#btn-data {
    background-color: #11030a;
}

#btn-pynk {
    background-color: #d94591;
}

#btn-blue {
    background-color: #6ca6e4;
}